<div class="relative overflow-x-auto rounded-lg ">
  <table class="w-full text-sm text-center text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
      <tr>
        <th scope="col" class="px-2 py-3">
          Row
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          CPF
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
      </tr>
    </thead>
    <tbody id="visitors">
    </tbody>
  </table>
</div>
