<tr class="border-b border-x hover:bg-gray-100">
  <td class="px-2 py-3"><%= row %></td>
  <td class="px-6 py-3"><%= visitor.name %></td>
  <td class="px-6 py-3"><%= visitor.cpf %></td>
  <td class="px-6 py-3">
    <% if visitor.errors.any? %>
      <span class="text-red-600"><%= visitor.errors.full_messages.join(", ") %></span>
    <% else %>
      Imported Successfully
    <% end %>
  </td>
</tr>
