<%= turbo_stream.replace 'import_form' do  %>
  <% if @result[:imported_sucessfully].positive? %>
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 " role="alert">
      <strong class="block sm:inline">You have imported <%= @result[:imported_sucessfully] %> visitors successfully.</strong>
    </div>
  <% end %>

  <% if @result[:imported_unsucessfully].positive? %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
      <strong class="block sm:inline"><%= @result[:imported_unsucessfully] %> visitors could not be imported.</strong>
    </div>
  <% end %>
<% end %>
